*{
	margin: 0;
	padding: 0;
}

body{
	max-width: 1300px;
	margin: 110px auto;
	background-color: black;
}

#main{
	position: relative;
}

#game{
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	z-index: 0;
}

#scbackground{
	position: absolute;
	display: inline;
	margin-left: 10px;
}

#scoreboard{
	position: absolute;
	display: inline;
	margin-top: 40px;
	margin-left: 50px;
	padding: 20px;
	float: left;
	width: 300px;
	height: 610px;
	z-index: 0;
}

@font-face{
	font-family: bit;
	src: url("../fonts/8_bit.woff");
}

#sc{
	font-family: bit;
	color: #000000;
	font-size: 30px;
	text-shadow: 2px 2px #FFFFFF;
}

#fr{
	
}

