*{
	margin: 0;
	padding: 0;
}

body{
	max-width: 1300px;
	margin: 110px auto;
	background: black;
}

#main{
	position: relative;
}

#black{
	position: absolute;
	background: black;
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	opacity: 0.5;
	z-index: 1;
}

#start{
	position: absolute;
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	line-height: 700px;
	font-family: bit;
	font-size: 30px;
	color: #FFFFFF;
	opacity: 1;
	text-align: center;
	z-index: 2;
}

#pause{
	position: absolute;
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	line-height: 700px;
	font-family: bit;
	font-size: 30px;
	color: #FFFFFF;
	opacity: 1;
	text-align: center;
	z-index: 2;
}

#end{
	position: absolute;
	float: left;
	background: black;
	margin-top: 190px;
	margin-left: 290px;
	width: 340px;
	height: 260px;
	text-align: center;
	border: solid white 3px;
	z-index: 1;
}

#continue{
	position: absolute;
	float: left;
	font-family: bit;
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 30px;
	padding: 20px;
}
#yes{
	cursor: pointer;
	border: solid white 3px;
	padding: 5px;
}
#no{
	cursor: pointer;
	border: solid white 3px;
	padding: 5px;
	margin-top: 3px;
}

#go{
	position: absolute;
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	line-height: 700px;
	font-family: bit;
	font-size: 90px;
	color: #FFFFFF;
	opacity: 1;
	text-align: center;
	z-index: 2;
}

#beat{
	position: absolute;
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	line-height: 700px;
	font-family: bit;
	font-size: 70px;
	color: #FFFFFF;
	opacity: 1;
	text-align: center;
	z-index: 2;
}
#restart{
	position: absolute;
	float: left;
	font-family: bit;
	opacity: 1;
	text-align: center;
	z-index: 2;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 30px;
	color: #FFFFFF;
	border: solid white 3px;
	line-height: 40px;
	padding: 3px;
	margin-top: 450px;
	margin-left: 190px;
}
#next{
	position: absolute;
	float: right;
	font-family: bit;
	opacity: 1;
	text-align: center;
	z-index: 2;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 30px;
	color: #FFFFFF;
	border: solid white 3px;
	line-height: 40px;
	padding: 3px;
	margin-top: 450px;
	margin-left: 550px;
}

#game{
	float: left;
	width: 900px;
	height: 700px;
	border: solid white 9px;
	background-image: url("../slike/ancient_green.png");
	z-index: 0;
}

#scbackground{
	position: absolute;
	display: inline;
	margin-left: 10px;
}

#scoreboard{
	position: absolute;
	display: inline;
	margin-top: 40px;
	margin-left: 50px;
	padding: 20px;
	float: left;
	width: 300px;
	height: 610px;
	z-index: 0;
}

@font-face{
	font-family: bit;
	src: url("../fonts/8_bit.woff");
}

#sc{
	text-align: center;
	font-family: bit;
	color: #000000;
	font-size: 30px;
	text-shadow: 2px 2px #FFFFFF;
}

#life{
	font-family: bit;
	font-size: 20px;
	text-shadow: 2px 2px #FFFFFF;
}

#fr{
	
}

